

<!DOCTYPE html>
{% load i18n %}
<html >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>{{ subject }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>
<p>
    {% trans 'Dear ' %} {{ name }},
</p>
<p>
    {% trans 'Greeetings from Betterstories.' %}
</p>
<p>
    {{ message }}
</p>

<p>
    <a href="{{ uri }}">{{ uri }}</a>
</p>

</body>

</html>
