{% extends 'layouts/default/page.html' %}

{% load i18n %}

{% block content %}

    {% if request.user.is_authenticated %}
        <ul class="list-group">
            <li class="list-group-item list-group-item-success">{% trans 'Welcome ' %} <b>{{ request.user.first_name }}</b> <b>{{ request.user.last_name }}</b>.</li>
            <li class="list-group-item list-group-item-info">{% trans 'Your email is' %} <b>{{ request.user.email }}</b>.</li>
            <li class="list-group-item list-group-item-info">{% trans 'Your username is' %} <b>{{ request.user.username }}</b>.</li>
            <li class="list-group-item list-group-item-info">{% trans 'You login as' %} <b>{{ request.user.user_type }}</b>.</li>
            <li class="list-group-item list-group-item-info">{% trans 'For upgradation of your user role please contact with admin' %} </b>.</li>
        </ul>

    {% else %}
        <ul class="list-group">
            <li class="list-group-item list-group-item-info">{% trans 'Welcome to Misfit Technology Online Request Management. Please login to submit your request.' %}.</li>
        </ul>


    {% endif %}

{% endblock %}
