<div class="pricing-header px-3 py-3 pt-md-1 pb-md-1 mx-auto text-center">
    <h1 class="display-4">Packaging</h1>
    <p class="lead">Welcome to Better Stories Online Entrepreneurship Management.</p>
</div>

<div class="card-deck mb-2 text-center">
    <div class="card mb-3 box-shadow">
        <div class="card-header">
            <h3 class="my-0 font-weight-normal">Package1</h3>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>PARTICULARS</th>
                        <th>FEES(TK)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Name Clearance</td>
                        <td>600</td>
                    </tr>

                    <tr>
                        <td>Incorporation in RJSC</td>
                        <td>3000</td>
                    </tr>

                    <tr>
                        <td> E-TIN</td>
                        <td>1000</td>
                    </tr>

                    <tr>
                        <td>Form XII</td>
                        <td>2500</td>
                    </tr>

                    <tr>
                        <td>Share Certificate</td>
                        <td>2000</td>
                    </tr>


                    <tr>
                        <td> Trade License</td>
                        <td> 8000</td>
                    </tr>

                    <tr>
                        <td> Vat Registration</td>
                        <td> 6220</td>
                    </tr>

                    <tr>
                        <td> Stamp </td>
                        <td> 9150</td>
                    </tr>

                    <tr>
                        <td> Authorized Capital</br>(1-10 Lac)</td>
                        <td> 35000</td>
                    </tr>

                    <tr>
                        <td> Service Charge</td>
                        <td> 10%</td>
                    </tr>
                    <tr>
                        <td> VAT</td>
                        <td> 15%</td>
                    </tr>

                    <tr>
                        <td> <b>Total</b></td>
                        <td> <b>72940</b></td>
                    </tr>

                </tbody>
            </table>
            <a href="/accounts/sign-up/" class="btn btn-lg btn-block  btn-primary" role="button">Sign up</a>
        </div>
    </div>

    <div class="card mb-3 box-shadow">
        <div class="card-header">
            <h3 class="my-0 font-weight-normal">Package2</h3>
        </div>
        <div class="card-body table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>PARTICULARS</th>
                        <th>FEES(TK)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Name Clearance</td>
                        <td>600</td>
                    </tr>

                    <tr>
                        <td>Incorporation in RJSC</td>
                        <td>3000</td>
                    </tr>

                    <tr>
                        <td> E-TIN</td>
                        <td>1000</td>
                    </tr>

                    <tr>
                        <td>Form XII</td>
                        <td>2500</td>
                    </tr>

                    <tr>
                        <td>Share Certificate</td>
                        <td>2000</td>
                    </tr>

                    <tr>
                        <td> Trade License</td>
                        <td> 8000</td>
                    </tr>

                    <tr>
                        <td> Vat Registration</td>
                        <td> 6220</td>
                    </tr>

                    <tr>
                        <td> Stamp</td>
                        <td> 9150</td>
                    </tr>

                    <tr>
                        <td> Authorized Capital</br>(10-20 Lac)</td>
                        <td> 41000</td>
                    </tr>

                    <tr>
                        <td> Service Charge</td>
                        <td> 10%</td>
                    </tr>
                    <tr>
                        <td> VAT</td>
                        <td> 15%</td>
                    </tr>

                    <tr>
                        <td> <b>Total</b></td>
                        <td> <b>82940</b></td>
                    </tr>

                </tbody>
            </table>
            <a href="/accounts/sign-up/" class="btn btn-lg btn-block  btn-primary" role="button">Sign up</a>
        </div>
    </div>

    <div class="card mb-3 box-shadow">
        <div class="card-header">
            <h3 class="my-0 font-weight-normal">Package3</h3>
        </div>
        <div class="card-body table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>PARTICULARS</th>
                        <th>FEES(TK)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Name Clearance</td>
                        <td>600</td>
                    </tr>

                    <tr>
                        <td>Incorporation in RJSC</td>
                        <td>3000</td>
                    </tr>

                    <tr>
                        <td> E-TIN</td>
                        <td> 1000 </td>
                    </tr>

                    <tr>
                        <td>Form XII</td>
                        <td>2500</td>
                    </tr>

                    <tr>
                        <td>Share Certificate</td>
                        <td>2000</td>
                    </tr>

                    <tr>
                        <td> Trade License</td>
                        <td> 8000</td>
                    </tr>

                    <tr>
                        <td> Vat Registration</td>
                        <td> 6220</td>
                    </tr>

                    <tr>
                        <td> Stamp</td>
                        <td> 9150</td>
                    </tr>

                    <tr>
                        <td> Authorized Capital</br>(20-50 Lac)</td>
                        <td> 65000</td>
                    </tr>

                    <tr>
                        <td> Service Charge</td>
                        <td> 10%</td>
                    </tr>
                    <tr>
                        <td> VAT</td>
                        <td> 15%</td>
                    </tr>

                    <tr>
                        <td> <b>Total</b></td>
                        <td> <b>92940</b></td>
                    </tr>

                </tbody>
            </table>
            <a href="/accounts/sign-up/" class="btn btn-lg btn-block  btn-primary" role="button">Sign up</a>
        </div>
    </div>

    <div class="card mb-3 box-shadow">
        <div class="card-header">
            <h3 class="my-0 font-weight-normal">Package4</h3>
        </div>
        <div class="card-body table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>PARTICULARS</th>
                        <th>FEES(TK)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Name Clearance</td>
                        <td>600</td>
                    </tr>

                    <tr>
                        <td>Incorporation in RJSC</td>
                        <td>3000</td>
                    </tr>

                    <tr>
                        <td> E-TIN</td>
                        <td> 1000 </td>
                    </tr>

                    <tr>
                        <td>Form XII</td>
                        <td>2500</td>
                    </tr>

                    <tr>
                        <td>Share Certificate</td>
                        <td>2000</td>
                    </tr>

                    <tr>
                        <td> Trade License</td>
                        <td> 8000</td>
                    </tr>

                    <tr>
                        <td> Vat Registration</td>
                        <td> 6220</td>
                    </tr>

                    <tr>
                        <td> Stamp</td>
                        <td> 9150</td>
                    </tr>

                    <tr>
                        <td> Authorized Capital</br>(50-100 Lac)</td>
                        <td> 73000</td>
                    </tr>

                    <tr>
                        <td> Service Charge</td>
                        <td> 10%</td>
                    </tr>
                    <tr>
                        <td> VAT</td>
                        <td> 15%</td>
                    </tr>

                    <tr>
                        <td> <b>Total</b></td>
                        <td> <b>122940</b></td>
                    </tr>

                </tbody>
            </table>
            <a href="/accounts/sign-up/" class="btn btn-lg btn-block  btn-primary" role="button">Sign up</a>
        </div>
    </div>
</div>


<!--<div class="pricing-header px-3 py-3 pt-md-1 pb-md-1 mx-auto text-center">-->
    <!--<h1 class="display-4">Packaging</h1>-->
    <!--<p class="lead">Quickly build an effective pricing table for your potential customers with this Bootstrap example.-->
        <!--It's built with default Bootstrap components and utilities with little customization.</p>-->
<!--</div>-->

<!--<div class="card-deck mb-2 text-center">-->
    <!--<div class="card mb-3 box-shadow">-->
        <!--<div class="card-header">-->
            <!--<h4 class="my-0 font-weight-normal">Package1</h4>-->
        <!--</div>-->
        <!--<div class="card-body">-->
            <!--<ul class="list-unstyled mt-3 mb-4">-->
                <!--<li><b>PARTICULARS - FEES(TK)</b></li>-->
                <!--<li>Name Clearance - 600</li>-->
                <!--<li>Incorporation in RJSC -3000</li>-->
                <!--<li>E-TIN - 2500</li>-->
                <!--<li>Form XII - 2500</li>-->
                <!--<li>Share Certificate - 2000</li>-->
                <!--<li>Trade License - 8000</li>-->
                <!--<li>Vat Registration - 6220</li>-->
                <!--<li>Stamp - 9150</li>-->
                <!--<li>Authorized Capital - (1-10)Lac</li>-->
                <!--<li><b>Total - 72200</b></li>-->
            <!--</ul>-->
            <!--<a href="/accounts/sign-up/" class="btn btn-lg btn-block  btn-primary" role="button">Sign up</a>-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="card mb-3 box-shadow">-->
        <!--<div class="card-header">-->
            <!--<h4 class="my-0 font-weight-normal">Package2</h4>-->
        <!--</div>-->
        <!--<div class="card-body table-responsive">-->
             <!--<ul class="list-unstyled mt-3 mb-4">-->
                <!--<li><b>PARTICULARS - FEES(TK)</b></li>-->
                <!--<li>Name Clearance - 600</li>-->
                <!--<li>Incorporation in RJSC -3000</li>-->
                <!--<li>E-TIN - 2500</li>-->
                <!--<li>Form XII - 2500</li>-->
                <!--<li>Share Certificate - 2000</li>-->
                <!--<li>Trade License - 8000</li>-->
                <!--<li>Vat Registration - 6220</li>-->
                <!--<li>Stamp - 9150</li>-->
                <!--<li>Authorized Capital - (1-10)Lac</li>-->
                <!--<li><b>Total - 72200</b></li>-->
            <!--</ul>-->
            <!--<a href="/accounts/sign-up/" class="btn btn-lg btn-block  btn-primary" role="button">Sign up</a>-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="card mb-3 box-shadow">-->
        <!--<div class="card-header">-->
            <!--<h4 class="my-0 font-weight-normal">Package3</h4>-->
        <!--</div>-->
        <!--<div class="card-body table-responsive">-->
             <!--<ul class="list-unstyled mt-3 mb-4">-->
                <!--<li><b>PARTICULARS - FEES(TK)</b></li>-->
                <!--<li>Name Clearance - 600</li>-->
                <!--<li>Incorporation in RJSC -3000</li>-->
                <!--<li>E-TIN - 2500</li>-->
                <!--<li>Form XII - 2500</li>-->
                <!--<li>Share Certificate - 2000</li>-->
                <!--<li>Trade License - 8000</li>-->
                <!--<li>Vat Registration - 6220</li>-->
                <!--<li>Stamp - 9150</li>-->
                <!--<li>Authorized Capital - (1-10)Lac</li>-->
                <!--<li><b>Total - 72200</b></li>-->
            <!--</ul>-->
            <!--<a href="/accounts/sign-up/" class="btn btn-lg btn-block  btn-primary" role="button">Sign up</a>-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="card mb-3 box-shadow">-->
        <!--<div class="card-header">-->
            <!--<h4 class="my-0 font-weight-normal">Package4</h4>-->
        <!--</div>-->
        <!--<div class="card-body table-responsive">-->
             <!--<ul class="list-unstyled mt-3 mb-4">-->
                <!--<li><b>PARTICULARS - FEES(TK)</b></li>-->
                <!--<li>Name Clearance - 600</li>-->
                <!--<li>Incorporation in RJSC -3000</li>-->
                <!--<li>E-TIN - 2500</li>-->
                <!--<li>Form XII - 2500</li>-->
                <!--<li>Share Certificate - 2000</li>-->
                <!--<li>Trade License - 8000</li>-->
                <!--<li>Vat Registration - 6220</li>-->
                <!--<li>Stamp - 9150</li>-->
                <!--<li>Authorized Capital - (1-10)Lac</li>-->
                <!--<li><b>Total - 72200</b></li>-->
            <!--</ul>-->
            <!--<a href="/accounts/sign-up/" class="btn btn-lg btn-block  btn-primary" role="button">Sign up</a>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

