{% extends 'layouts/default/page.html' %}

{% load bootstrap4 %}
{% load i18n %}

{% block content %}

    <div class="row">
       <div class="col-xs-4 col-sm-4 col-md-4">
         <h4>{% trans 'Change Profile' %}</h4>
       </div>
        <div class="col-xs-4 col-sm-4 col-md-4">
            {% if request.user.profile_picture %}
                <img src="{{ request.user.profile_picture.url }}" class="rounded-circle img-responsive" height="200" width="200" alt="Profile Pics">
            {% endif %}
        </div>
    </div>

    <form method="post" enctype="multipart/form-data">

        {% csrf_token %}
        {% bootstrap_form form %}

        <button class="btn btn-success">{% trans 'Change' %}</button>

    </form>

{% endblock %}
