
{% extends 'layouts/default/page.html' %}

{% load bootstrap4 %}
{% load i18n %}

{% block content %}
<div class="row">
       <div class="col-xs-6 col-sm-6 col-md-6">
           <h4>{% trans 'New Request' %}</h4>
       </div>
       <div class="col-xs-6 col-sm-6 col-md-6">
           <input action="action" class="btn btn-success" onclick="window.history.go(-1); return false;" type="button" value="Back" />
       </div>
</div>


    <form method="post" enctype="multipart/form-data">

        {% csrf_token %}
        {% bootstrap_form form %}

        <button class="btn btn-success">{% trans 'Submit' %}</button>

    </form>

{% endblock %}