
{% extends 'layouts/default/page.html' %}

{% load bootstrap4 %}
{% load i18n %}
{% load template_filters %}

{% block content %}

{% if request.user.is_authenticated %}
<div class="row">
       <div class="col-xs-4 col-sm-4 col-md-4">
           <h4>{% trans 'Update Request' %}</h4>
       </div>

        <div class="col-xs-4 col-sm-4 col-md-4">
           <a href="/erequest/view/{{ object.id }}" class="btn btn-success" role="button" aria-pressed="true">View</a>
            {% if object.status|check_status:"Open" and request.user.user_type|check_user_type:"Employee" %}
                <a href="/erequest/edit/{{ object.id }}" class="btn btn-success" role="button" aria-pressed="true">Update</a>
                <a href="/erequest/delete/{{ object.id }}" class="btn btn-success" role="button" aria-pressed="true">Delete</a>
            {% elif not request.user.user_type|check_user_type:"Employee" and not object.status|check_status:"Processed" %}
                <a href="/erequest/edit/{{ object.id }}" class="btn btn-success" role="button" aria-pressed="true">Update</a>
            {% endif %}
        </div>

        <div class="col-xs-4 col-sm-4 col-md-4">
           <h4>{% trans 'Request By' %}</h4>
            <p>{% trans 'Username: ' %}{{ object.user_id.username}}</p>
           <p>{% trans 'Name: ' %}{{ object.user_id.first_name}} {{ object.user_id.last_name}}</p>
           <p>{% trans 'Email: ' %}{{ object.user_id.email}}</p>
       </div>

</div>



    <form method="post" enctype="multipart/form-data">

        {% csrf_token %}
        {% bootstrap_form form %}

        <button class="btn btn-success">{% trans 'Submit' %}</button>

    </form>

{% endif %}

{% endblock %}