{% extends 'layouts/default/page.html' %}

{% load bootstrap4 %}
{% load i18n %}
{% load template_filters %}

{% block content %}

     <!--<center><h4>{% trans 'Request List' %}</h4></center>-->

    {% if request.user.is_authenticated %}
        <div class="row">
           <div class="col-xs-6 col-sm-6 col-md-6">
               <h4>{% trans 'Request List' %}</h4>
           </div>
           <div class="col-xs-6 col-sm-6 col-md-6">
               {% if not request.user.user_type|check_user_type:"Employee" %}
               <a href="/erequest/pdf?status={{ status}}" class="btn btn-primary">Download PDF</a>

               {% endif %}
           </div>
        </div>
        <br>
        <br>

        {% if object_list %}
           <table class="table table-striped table-bordered table-sm">
                <thead>
                <tr class="table-primary">
                    <th>Request ID</th>
                    <th>Request By</th>
                    <th>Request Time</th>
                    <th>Subject</th>
                    <th>Status</th>
                    <th>Last Process Time</th>
                    <th>Last Review By</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                    {% for object in object_list %}
                    <tr>
                        <td>#{{ object.id }}</td>
                        <td>{{ object.created_by }}</td>
                        <td>{{ object.created_date }}</td>
                        <td>{{ object.subject }}</td>
                        <td>{{ object.status }}</td>
                        <td>{{ object.updated_date }}</td>
                        <td>{{ object.updated_by }}</td>
                        <td>
                           <a href="/erequest/view/{{ object.id }}"><span class="glyphicon glyphicon-pencil" >View</span></a>
                            {% if object.status|check_status:"Open" and request.user.user_type|check_user_type:"Employee" %}
                               <a href="/erequest/edit/{{ object.id }}"><span class="glyphicon glyphicon-edit" >Update</span></a>
                               <a href="/erequest/delete/{{ object.id }}"><span class="glyphicon glyphicon-edit" >Delete</span></a>
                            {% elif not request.user.user_type|check_user_type:"Employee" and not object.status|check_status:"Processed" %}
                                <a href="/erequest/edit/{{ object.id }}"><span class="glyphicon glyphicon-edit" >Update</span></a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <br>
            <br>
            {% if request.user.user_type|check_user_type:"Employee" %}
                <center><a href="/erequest/new" class="btn btn-primary">Another Request</a></center>
            {% endif %}

        {% else %}
            <ul class="list-group">
                <li class="list-group-item list-group-item-info"><h4>{% trans "No Request Yet." %}</h4></li>
            </ul>
            <br>
            {% if request.user.user_type|check_user_type:"Employee" %}
                <center><a href="/erequest/new" class="btn btn-primary">New Request</a></center>
            {% endif %}
        {% endif %}

    {% endif %}

{% endblock %}