
{% extends 'layouts/default/page.html' %}

{% load bootstrap4 %}
{% load i18n %}
{% load template_filters %}

{% block content %}

{% if request.user.is_authenticated %}
<div class="row">
       <div class="col-xs-6 col-sm-6 col-md-6">
           <h4>{% trans 'Delete Request' %}</h4>
       </div>

        <div class="col-xs-6 col-sm-6 col-md-6">
           <a href="/erequest/view/{{ object.id }}" class="btn btn-success" role="button" aria-pressed="true">View</a>
            {% if object.status|check_status:"Open" and request.user.user_type|check_user_type:"Employee" %}
                <a href="/erequest/edit/{{ object.id }}" class="btn btn-success" role="button" aria-pressed="true">Update</a>
                <a href="/erequest/delete/{{ object.id }}" class="btn btn-success" role="button" aria-pressed="true">Delete</a>
            {% elif not request.user.user_type|check_user_type:"Employee" %}
                <a href="/erequest/edit/{{ object.id }}" class="btn btn-success" role="button" aria-pressed="true">Update</a>
            {% endif %}
        </div>

</div>



   <form method="post">{% csrf_token %}
        Are you sure you want to delete "{{ object }}" ?
        <br>
        <br>
        <input class="btn btn-primary" type="submit" value="Submit" />
   </form>

{% endif %}

{% endblock %}