
{% extends 'layouts/default/page.html' %}

{% load bootstrap4 %}
{% load i18n %}
{% load template_filters %}

{% block content %}
{% if request.user.is_authenticated %}
    <div class="row">
           <div class="col-xs-4 col-sm-4 col-md-4">
               <h4>{% trans 'Request Details' %}</h4>
           </div>

            <div class="col-xs-4 col-sm-4 col-md-4">
               <a href="/erequest/view/{{ object.id }}" class="btn btn-success" role="button" aria-pressed="true">View</a>
                {% if object.status|check_status:"Open" and request.user.user_type|check_user_type:"Employee" %}
                    <a href="/erequest/edit/{{ object.id }}" class="btn btn-success" role="button" aria-pressed="true">Update</a>
                    <a href="/erequest/delete/{{ object.id }}" class="btn btn-success" role="button" aria-pressed="true">Delete</a>
                {% elif not request.user.user_type|check_user_type:"Employee" and not object.status|check_status:"Processed" %}
                    <a href="/erequest/edit/{{ object.id }}" class="btn btn-success" role="button" aria-pressed="true">Update</a>
                {% endif %}
            </div>

            <div class="col-xs-4 col-sm-4 col-md-4">
               <h4>{% trans 'Request By' %}</h4>
                <p>{% trans 'Username: ' %}{{ object.user_id.username}}</p>
               <p>{% trans 'Name: ' %}{{ object.user_id.first_name}} {{ object.user_id.last_name}}</p>
               <p>{% trans 'Email: ' %}{{ object.user_id.email}}</p>
           </div>
    </div>


    <form>

        {% csrf_token %}
        {% bootstrap_form form %}

    </form>
    <br>
    <br>

<br>
    <center><b><h4>{% trans 'Request Details History' %}</h4></b></center>
    {% if erequest_details_obj %}
        <table class="table table-striped table-bordered table-sm">
            <thead>
            <tr class="table-primary">
                <th>Request ID</th>
                <th>Request By</th>
                <th>Request Time</th>
                <th>Subject</th>
                <th>Status</th>
                <th>Last Process Time</th>
                <th>Last Review By</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
                {% for obj in erequest_details_obj %}
                <tr>
                    <td>#{{ obj.id }}</td>
                    <td>{{ obj.created_by }}</td>
                    <td>{{ obj.created_date }}</td>
                    <td>{{ obj.subject }}</td>
                    <td>{{ obj.status }}</td>
                    <td>{{ obj.updated_date }}</td>
                    <td>{{ obj.updated_by }}</td>
                    <td>
                       <a href="/erequest/details/view/{{ obj.id }}"><span class="glyphicon glyphicon-pencil" >View</span></a>
                        {% if object.status|check_status:"Open" and request.user.user_type|check_user_type:"Employee" %}
                           <a href="/erequest/details/delete/{{ obj.id }}"><span class="glyphicon glyphicon-edit" >Delete</span></a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    {% else %}
        <ul class="list-group">
            <li class="list-group-item list-group-item-info"><h4>{% trans "No Request Details History have been found yet." %}</h4></li>
        </ul>
    {% endif %}

{% endif %}

{% endblock %}