<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Misfit Technology Requests List</title>
    <!-- Text Font CSS  -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
    <style type="text/css">
          /* -- reset css --*/

          * {
              margin: 0;
              padding: 0;
              box-sizing: border-box;
          }

          html {
              color: #000000;
              background: white;
              font: 10px/16px Roboto, Arial, sans-serif;
          }
          body {
              padding: 15px;
              text-align: left;
          }

          img {
              height: auto;
              max-width: 100%;
              vertical-align: middle;
          }



          /* -- utilities css --*/

          .heading-1 {
              overflow: hidden;
              font-size: 16px;
              line-height: 22px;
              font-weight: normal;
          }

          .heading-2 {
              overflow: hidden;
              font-size: 12px;
              line-height: 18px;
              font-weight: normal;
          }
          .grey-text {
              color: #5b5b5b;
          }
          .float-left{
              float: left;
          }
          .float-right {
              float: right;
          }
          .mb-5 {
            margin-bottom: 5px;
          }
          .mt-5{
            margin-top: 5px;
          }
          /* -- header css --*/

          .header {
              overflow: hidden;
              padding-top: 22px;
              padding-bottom: 22px;

          }

          .rounded-image {
              width: 55px;
              height: 55px;
              border-radius: 50%;
              margin-right: 12px;
              overflow: hidden;
              background-color: #f2f2f2;
          }
          .padding-lr{
            padding: 0 10px;
           }

          /* -- heading section --*/

          .heading {
              width: 100%;
              overflow: hidden;
              padding: 5px 10px;
              margin-bottom: 5px;
              margin-top: 5px;
              border-top: 1px solid #efefef;
              border-bottom: 1px solid #efefef;
          }
          .heading .heading-2{
              min-width: 90%;
          }

          .blue-area {
              width: 10px;
              min-height: 15px;
              margin-right: 10px;
              background-color: #00aeef;
          }

          .heading .separetor {
              padding-left: 5px;
              padding-right: 5px;
          }

          /* -- info list --*/

          .info {
              overflow: hidden;
              padding: 0px 10px;
          }

          .info-list {
              overflow: hidden;
              list-style: none;
          }

          .info-list li {
              overflow: hidden;
              padding-top: 2px;
              padding-bottom: 2px;
          }

          .label {
              width: 50%;
              float: left;
              color: #5b5b5b;
          }
          .data {
              float: left;
              width: 50%;
          }
          /* -- gallery -- */
            .img-wrapper {
              padding-right: 10px;
              padding-bottom: 10px;
                <!--text-align:center;-->
            }


          /* -- xry-header -- */
          .xry-header .blue-area {
              min-height: 35px;
          }
          .patient-info{
              overflow: hidden;
          }

            table{
                width: 100%;
                max-width: 100%;
                border:0;
                background-color: transparent;
            }

            table {
                -fs-table-paginate: paginate;
            }
            thead {
               display: table-header-group;
            }
            tr{
                page-break-inside: avoid;
            }

      </style>

</head>


<body>
    <center><h2>{{title}}</h2></center>
   <table border="0" cellpadding="0" cellspacing="0" class="padding-lr">
      <thead>
         <tr>
             <th width="10%">Request ID</th>
             <th width="10%">Request By</th>
             <th width="15%">Request Time</th>
             <th width="30%">Subject</th>
             <th width="10%">Status</th>
             <th width="15%">Last Process Time</th>
             <th width="10%">Last Review By</th>
         </tr>
      </thead>
      <tbody>
       {% for object in object_list %}
         <tr>
             <td width="10%" class="grey-text">#{{ object.id }}</td>
             <td width="10%" class="grey-text">{{ object.created_by }}</td>
             <td width="15%" class="grey-text">{{ object.created_date }}</td>
             <td width="30%" class="grey-text">{{ object.subject }}</td>
             <td width="10%" class="grey-text">{{ object.status }}</td>
             <td width="15%" class="grey-text">{{ object.updated_date }}</td>
             <td width="10%" class="grey-text">{{ object.updated_by }}</td>
         </tr>
      {% endfor %}
      </tbody>
    </table>

    <footer>
        <center><p>&copy; Copyright 2018  <b>Misfit Technologies</b> - All Rights Reserved</p></center>
    </footer>
</body>

</html>
