
{% extends 'layouts/default/page.html' %}

{% load bootstrap4 %}
{% load i18n %}
{% load template_filters %}

{% block content %}
{% if request.user.is_authenticated %}
   <div class="row">
       <div class="col-xs-6 col-sm-6 col-md-6">
           <h4>{% trans 'Request Details' %}</h4>
       </div>
       <div class="col-xs-6 col-sm-6 col-md-6">
           <input action="action" class="btn btn-success" onclick="window.history.go(-1); return false;" type="button" value="Back" />
       </div>
    </div>


    <form>

        {% csrf_token %}
        {% bootstrap_form form %}

    </form>
    <br>
    <br>

{% endif %}

{% endblock %}