
{% extends 'layouts/default/page.html' %}

{% load bootstrap4 %}
{% load i18n %}
{% load template_filters %}

{% block content %}

{% if request.user.is_authenticated %}
<div class="row">
       <div class="col-xs-6 col-sm-6 col-md-6">
           <h4>{% trans 'Delete Request Details' %}</h4>
       </div>

        <div class="col-xs-6 col-sm-6 col-md-6">
           <input action="action" class="btn btn-success" onclick="window.history.go(-1); return false;" type="button" value="Back" />
       </div>

</div>



   <form method="post">{% csrf_token %}
        Are you sure you want to delete "{{ object }}" ?
        <br>
        <br>
        <input class="btn btn-primary" type="submit" value="Submit" />
   </form>

{% endif %}

{% endblock %}