

<!DOCTYPE html>
{% load staticfiles %}
{% load bootstrap4 %}
{% load i18n %}
{% load template_filters %}

{% get_current_language as language_code %}
<html lang="{{ language_code }}">
<head>
    <style>
    .footer {
       <!--position: fixed;-->
       left: 0;
       bottom: 0;
       width: 100%;
       <!--background-color: green;-->
       color: white;
       text-align: center;
    }
    </style>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Misfit Online Request Management">
    <meta name="author" content="Yehor Smoliakov">

    <link rel="icon" href="{% static 'small-logo.png' %}">
    <!--<link rel="icon" href="{% static 'favicon.ico' %}">-->

    <title>Misfit Technology Online Request Management</title>

    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <script src="{% static 'vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <!--<script src="sweetalert2.all.min.js"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.26.12/dist/sweetalert2.all.min.js"></script>

</head>

<body>


<nav class="navbar navbar-expand-md navbar-dark bg-dark static-top">

    <a class="navbar-brand" href="/"><b>{% trans 'eRequesting' %}</b></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav mr-auto">
            {% if request.user.is_authenticated %}
                {% if request.user.user_type|check_user_type:"Employee" %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'erequest:erequest_post_list' %}?status=Open">{% trans 'My Open Request' %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'erequest:erequest_post_list' %}?status=HR Reviewed">{% trans 'My Reviewed Request' %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'erequest:erequest_post_list' %}?status=Processed">{% trans 'My Processed Request' %}</a>
                    </li>


                {% elif request.user.user_type|check_user_type:"HR" %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'erequest:erequest_post_list' %}?status=Open">{% trans 'Open Request' %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'erequest:erequest_post_list' %}?status=HR Reviewed">{% trans 'Reviewed Request' %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'erequest:erequest_post_list' %}?status=Processed">{% trans 'Processed Request' %}</a>
                    </li>


                {% elif request.user.user_type|check_user_type:"Management" %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'erequest:erequest_post_list' %}?status=HR Reviewed">{% trans 'Reviewed Request' %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'erequest:erequest_post_list' %}?status=Processed">{% trans 'Processed Request' %}</a>
                    </li>
                {% endif %}

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'accounts:change_password' %}">{% trans 'Change Password' %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'accounts:change_profile' %}">{% trans 'Change Profile' %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'accounts:change_email' %}">{% trans 'Change Email' %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'accounts:log_out' %}">{% trans 'Log Out' %}</a>
                </li>

            {% endif %}

        </ul>

        {% if not request.user.is_authenticated %}
            <ul class="navbar-nav">
               <li class="nav-item">
                        <a class="nav-link" href="{% url 'accounts:log_in' %}">{% trans 'Log In' %}</a>
               </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'accounts:sign_up' %}">{% trans 'Create an Account' %}</a>
                </li>
            </ul>
        {% endif %}
    </div>

</nav>

<!--<div class="container-fluid mt-5 mb-5">-->
<div class="container mt-5  mb-5">

    {% bootstrap_messages %}

    {% block content %}
        No content.
    {% endblock %}

</div>


<div class="footer">
  <p>&copy; Copyright 2018  <b>Misfit Technologies</b> - All Rights Reserved</p>
</div>


<script src="{% static 'vendor/popper/popper.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>

<script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>

</body>
</html>